<% if user_signed_in? %>
  <% if current_user.cards.empty? %>
    No cards yet to review!
    Why not <%= link_to "create some now?", new_card_path %>
  <% else %>
    <h1>Cards to review:</h1>
    <%= render @cards %>
  <% end %>
<% else %>
  <div class="cover-image">
    <div class="container cover-content">
      <h1 class="headline">Facebook Flashcards</h1>
      <p class="lead">Never again forget someone's name or birthday.</p>
      <p><a class="btn btn-default btn-lg" role="button">Sign up for free</a></p>
    </div>
  </div>
<% end %>
