<% if user_signed_in? %>
  <% if current_user.cards.empty? %>
    No cards yet to review!
    Why not <%= link_to "create some now?", new_card_path %>
  <% else %>
    <h1>Cards to review:</h1>
    <%= render @cards %>
  <% end %>
<% else %>
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
<% end %>
