$font-size-base: 18px;

// Set Heading font to Source Sans Pro
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-weight: 300;

// Override largest container side
$container-large-desktop: 970px;
